@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0px;
   padding: 0px;
   /* overflow-x: hidden; */
   border: none;
   /* box-sizing: border-box; */
   text-decoration: none;
   border: none;
   /* overflow-y: hidden; */
   scroll-behavior: smooth;
   /* font-family: 'Poppins', sans-serif; */
}

body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   color: #333;
   background-color: #fff;
}

:root {
   --border: 3px solid #28296a;
   --text-color: #fff;
   --min-color: #28296A;
}


h1 {


   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: center;
   font-size: 32px;
   font-weight: bold;
   color: #fff;
   font-family: "Myriad Pro Bold";
}

h2 {
   font-size: 30px;
   font-weight: bold;

   color: #28296a;
   font-family: "Myriad Pro Bold";
}

h3 {
   font-size: 15px;
   color: var(--min-color);
   font-size: bold;
   padding-top: .7rem;
   padding-bottom: .7rem;
   font-weight: 500;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p {
   color: #000;
   line-height: initial;
}
.p{
   font-size: 17px;
}

h4 {
   font-size: 68px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
   background: #148503;
   width: 285px;
   padding: 12px 20px;
   font-size: 18px;
   display: flex;
   color: white;
   align-items: center;
   justify-content: center;
   margin: 1rem auto;
   border-radius: 20px;
}

.btn:hover {

   cursor: pointer;
   color: white;
   background-color: #28296A;
}
span a{
   color: blue;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
   font-size: 18px;
}
span a:hover{
   color:var(--min-color);
}
/* header section  */
.background_img {
   background: url('/imags/a2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   width: 100%;
}
.header {
   max-width: 98%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar{
   overflow-x: hidden;
   max-width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.7rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.navbar  #btn i{
   font-size: 3rem;
}
.navbar  #btn{
   display: none;
   background-color:white;
   width: 3rem;

}
nav {
   display: flex;
   align-items: center;

}

nav a {
   padding: 0rem .6rem;
   color: black;
   font-size: 14px;
   FONT-WEIGHT: bold;
}

nav a:hover {
   color: var(--min-color);
}
.whatsapp{
   background-color: #25D366;
   border: 1px solid #25D366;
   border-radius: 50% ;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   /* padding: 3px;  */
}
.whatsapp i{
   font-size: 1.8rem;
   color: white;
}

/* banner container styling */
.banner {
   width: 100%;
   /* background-color: brown; */
}

.container {
   gap: 1.5rem;
   width: 95%;
   margin: 4% auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.banner .form {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   background-color: rgb(0 0 0 / 51%);
   border: 3px solid #28296a;
   /* border: 2px solid rgb(14, 13, 13); */
}

.form_container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2rem;
}

.box {
   line-height: 60px;
   display: flex;
   flex-direction: column;
   color: white;
   font-size: bold;
   font-weight: 500;
   font-size: 1rem;
}

.box input {
   padding: .5rem;
}

.built {
   display: flex;
   background-color: #28296a;
   justify-content: space-between;
   justify-content: space-evenly;

   padding-top: .5rem;
   padding-bottom: .5rem;
}

.box input {
   width: 100%;
   padding: 7px 5px;
   border-bottom: 1px solid #ccc;
   border-top: none;
   border-left: none;
   border-right: none;
   color: #fff;
   background-color: rgb(255 255 255 / 0%);

   font-family: "Myriad Pro regular";
   outline: none;
}

::placeholder {
   font-size: 1rem;
   color: white;
   font-size: bold;
   font-weight: 500;
}

.services_logo {
   display: flex;
   justify-content: center;
}

.services {
   display: none;
}
/* choose us section  */
.choose_us {
   width: 90%;
   margin: 1rem auto;
   box-shadow:  5px 5px 5px 5px  rgb(40 41 106 / 22%);
         /* inset: 5px 5px 5px 5px rgb(40 41 106 / 22%);
         inset: 5px 5px 5px 5px rgb(40 41 106 / 22%);
         inset: 5px 5px 5px 5px rgb(40 41 106 / 22%);
         inset: 5px 5px 5px 5px rgb(40 41 106 / 22%); */
}
.choose_container {
   display: flex;
}
.choose_us h1 {
   color: var(--min-color);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* croussel */
.crousel {
   width: 45%;
   /* gap: 2rem; */
}
.choose-box {
   width: 70%;
}
/* Slideshow container */
.slideshow-container {
   width: 90%;
   box-sizing: border-box;
   padding: 1rem;
   /* height: 700px; */
   position: relative;
   margin: auto;
}

/* Make the images invisible by default */
.Containers {
   display: none;
}

/* forward & Back buttons */
.Back,
.forward {
   cursor: pointer;
   position: absolute;
   top: 48%;
   width: auto;
   margin-top: -23px;
   padding: 17px;
   color: grey;
   font-weight: bold;
   font-size: 19px;
   transition: 1.4s ease;
   border-radius: 0 5px 5px 0;
   user-select: none;
}

/* Place the "forward button" to the right */
.forward {
   right: 0;
   border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
   background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Info */
.Info {
   color: #e3e3e3;
   font-size: 16px;
   padding: 10px 14px;
   position: absolute;
   bottom: 10px;
   width: 100%;
   text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
   color: #0cf504;
   font-size: 14px;
   padding: 10px 14px;
   position: absolute;
   top: 0;
}

/* The circles or bullets and indicators */
.dots {
   cursor: pointer;
   height: 16px;
   width: 16px;
   margin: 0 3px;
   background-color: rgb(7, 247, 247);
   border-radius: 50%;
   display: inline-block;
   transition: background-color 1.5s ease;
}

.enable,
.dots:hover {
   background-color: #717161;
}

/* Faint animation */
.fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.4s;
   animation-name: fade;
   animation-duration: 1.4s;
}

@-webkit-keyframes fade {
   from {
      opacity: .5
   }

   to {
      opacity: 2
   }
}

@keyframes fade {
   from {
      opacity: .5
   }

   to {
      opacity: 2
   }
}
.choose-box .box_1 {
   display: flex;
   border: 2px solid rgba(255, 255, 255, 0.842);
   box-shadow:  inset 5px 5px 5px 5px  rgb(0,0,0,0,.05),
                inset -5px -5px 5px rgb(255,255,255,0.5),
                   5px 5px 5px rgb(0,0,0,0,0.5),
                   -5px -5px 5px rgb(255,255,255,0.5);
     border-radius: 15px;
   width: 70%;
   padding-top: .7rem;
   margin: 0rem auto;
   padding-bottom: .7rem;
   gap: 1rem;

}

.box_1 #text_heading {
   font-size: 22px;
   /* padding-top: 1rem; */
}

.box_1 .text {
   padding-left: 2rem;

}

.text p {
   padding-top: .7rem;
   padding-bottom: .7rem;
   font-size: 16px;
}

/* services section  */
.services_section {
   background-color: #f3f3f3c9;
}

.services_section h1 {
   padding-top: 2rem;
   padding-bottom: 2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: var(--min-color);
}

.services_container {
   width: 95%;
   margin: 1rem auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 1.4rem;
  
}

.services_container #box {
   width:100%;
   height: 400px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   padding: 1rem;

   padding: 30px 20px;
   border: 1px solid #28296a1a;
   box-shadow: 5px 5px 5px rgb(40 41 106 / 22%);
         inset: 5px 5px 5px rgb(40 41 106 / 22%);
         inset: 5px 5px 5px rgb(40 41 106 / 22%);
         inset: 5px 5px 5px rgb(40 41 106 / 22%);
   background: #ffff;
   border-radius: 4px;
   overflow: hidden;
   transition: ease all 0.20s;
   position: relative;
   z-index: 1;
}
#box h2{
   padding-top: 1rem;
   padding-bottom: 1rem;
}
#box p{
   /* padding-top: 1rem; */
   /* padding-bottom: 2rem; */
}
#box #btn_box{
  position: absolute;
  bottom: 2rem;
  
}
#box a{
   border: 2px solid var(--min-color);
   font-family: sans-serif;
   font-weight: bolder;
   padding: .5rem;
   border-radius: 20px;
}

#box::before{
   content: "";
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   transform: translatex(-100%);
   background-color: green;
   transition: .50s ease;
   z-index: 0;
}
#box:hover::before{
   transform: translatex(0%);
   transform: scaley(1,3);

}
#box:hover h2,
#box:hover p,
#box:hover a,
#box:hover img{
   z-index: 5;
   position: relative;
   color: white;
}
/* pak_cargo-section */
.pak_cargo-container{
   width: 95%;
   margin: 1rem auto;
}
.pak_cargo-container .h1{
   color: var(--min-color);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cargo_imags{
display: flex;
/* flex-wrap: wrap; */
gap: 1.5rem;
padding-bottom: 1rem;
}
.cargo_imags img{
   border: 0px solid rgb(245, 242, 242);
   border-radius: 10px;
}
/* areas_section */
.areas_section{
   
background-color: var(--min-color);
}
.area_container{
   display: flex;
   flex-direction: column;
   width: 95%;
   margin: 0rem auto;
   gap: 1rem;
}
.area_container .container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
position: relative;
}
 #container_2{
   

   
} 
.container .ancher{
  display: flex;
   color: white;
   width: 33%;
   padding: 1rem;
   border-bottom:2px dotted white;

}
.area_box{
   color: white;
   display: flex;
   justify-content: space-between;
}
.area_box a{
   padding-left: 10px;
   color: white;
   
}
 .h2{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
}